@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive styling for mobile devices */
@media only screen and (max-width: 768px) {
    table thead {
        display: none; /* Hide the table header on small screens */
    }

    table tbody, table tr, table td, table th {
        display: block; /* Make table elements block-level elements */
        width: 100%;
    }

    table tbody tr {
        margin-bottom: 10px;
        border-bottom: 1px solid #333;
    }

    table tbody tr th {
        background-color: #333;
        color: white;
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        border: none;
    }

    table tbody tr td::before {
        content: attr(data-label); /* Use the data-label attribute to simulate table headers */
        position: absolute;
        left: 10px;
        width: calc(50% - 10px);
        text-align: left;
        font-weight: bold;
        @apply text-gray-300;
    }

    table tbody tr td:last-child {
        border-bottom: 1px solid #ddd;
    }
}